/*Regole comuni*/
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagina{
    width: 80%;
    margin: auto;
}
/*Fine regole comuni*/

/*Regole Header*/
header{
    margin-bottom: 20px;
}
header img{
    padding-right: 50px;
    border: color #808080;;
    border-right-style: inset;
}
/*Regole menù dell'header*/
.menu{
    padding-top: 50px;
    
}
.menu li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
}
.menu li a{
    text-decoration: none;
    padding-right: 10px;
    color: #808080;
}
/*Regole banner*/
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
}
.banner{
    height: 500px;
    margin-bottom: 20px; 
    position: relative;
}
.banner .overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 8px;
}
/* Inizio Regole parte centrale della pagina*/
div.parte-centrale{
    background-color: #0186ff;
}
 /* regole del titolo del paragrafo*/
.titolo-paragrafo{
    height: 100px;
    background-color: #abcfe7;
}
/*regole delle sidebar*/
aside.sidebar{
    width: 20%;
    height: 550px;
    background-color: #abcfe7;
    margin: 20px 0px;
    float: left;
}
/*regole della sezione articolo tra le due sidebar*/
section.articolo{
    width: 56%;
    height: 550px;
    background-color: #abcfe7;
    margin: 20px 2% ;
    float: left;
}
/*regola clearfix*/
div.parte-centrale::after{
    content: "";
    display: table;
    clear: both;
}
/*regole footer*/
footer{
    height: 75px;
    background-color: #8801fe;
    margin-top: 20px;
}