/*Regole comuni*/
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagina{
    width: 80%;
    margin: auto;
}
/*Fine regole comuni*/

/*Regole Header*/
header{
    margin-bottom: 20px;
}
header img{
    padding-right: 50px;
    border: color #808080;;
    border-right-style: inset;
}
/*Regole banner*/
.banner{
    height: 550px;
    background-color: #e1d67a;
    margin-bottom: 20px;
}
/* Inizio Regole parte centrale della pagina*/
div.parte-centrale{
    background-color: #0186ff;
}
 /* regole del titolo del paragrafo*/
.titolo-paragrafo{
    height: 100px;
    background-color: #abcfe7;
}
/*regole delle sidebar*/
aside.sidebar{
    width: 20%;
    height: 550px;
    background-color: #abcfe7;
    margin: 20px 0px;
    float: left;
}
/*regole della sezione articolo tra le due sidebar*/
section.articolo{
    width: 56%;
    height: 550px;
    background-color: #abcfe7;
    margin: 20px 2% ;
    float: left;
}
/*regola clearfix*/
div.parte-centrale::after{
    content: "";
    display: table;
    clear: both;
}
/*regole footer*/
footer{
    height: 75px;
    background-color: #8801fe;
    margin-top: 20px;
}